.bdp-main {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.bdp-bottom {
  padding-top: 10px;
}
.bdp-bottom__title {
  font-size: 24px;
  margin-bottom: 20px;
}
.bdp-left {
  width: 240px;
}
.bdp-right {
  width: 500px;
}
.book-details {
  font-size: 16px;
}
.book-details > * {
  margin-bottom: 10px;
}
.book-details__title {
  font-size: 26px;
}
.book-details__author {
  font-size: 16px;
  color: #e00;
}
.book-details__author > span:first-child {
  color: black;
}
.book-details__intro {
  margin-top: 20px;
  font-size: 20px;
  font-style: italic;
}
.book-details__btn {
  background-color: #007bff;
  border: 2px solid #007bff;
  border-radius: 5px;
  padding: 10px 20px;
  width: 100%;
  height: 48px;
  margin-top: 20px;
  color: white;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  cursor: pointer;
}
.book-details__btn:hover {
  background-color: #0069d9;
  border-color: #0069d9;
}
.book-details__btn:active {
  transform: scale(0.98);
}
.book-details__btn__cart {
  position: relative;
  transition: all 0.7s ease-in-out;
  left: 0;
}
.book-details__btn__cart--middle {
  left: 90px;
  transform: scale(1.4);
}
.book-details__btn__cart--end {
  left: 400px;
}
.book-details__btn__text {
  transition: all 0.3s linear;
}
.book-details__btn__text--added {
  position: relative;
  right: 70px;
}
.book-details__btn--disable {
  cursor: auto;
}
.book-details__btn--disable:hover {
  background-color: #007bff;
  border: 2px solid #007bff;
}
#book-author {
  cursor: pointer;
}
.bi-flag-fill {
  margin-right: 10px;
}
