.header {
  min-height: 100px;
  font-size: 20px;
  color: #000;
  line-height: 100px;
}
.header__title {
  float: left;
  display: table;
  line-height: 100px;
}
.header__title * {
  float: left;
}
.header__title__logo {
  height: 80px;
  margin: 10px 20px 10px 0;
}
.header__user {
  float: right;
}
.header__user__welcome {
  float: left;
}
.header__user__avatar {
  float: right;
  height: 60px;
  margin: 20px 0 20px 20px;
}
