.header {
  min-height: 100px;
  font-size: 20px;
  color: #000;
  line-height: 100px;

  &__title {
    float: left;
    display: table;
    line-height: 100px;

    & * {
      float: left;
    }
    &__logo {
      height: 80px;
      margin: 10px 20px 10px 0;
    }
  }

  &__user {
    float: right;

    &__welcome {
      float: left;
    }

    &__avatar {
      float: right;
      height: 60px;
      margin: 20px 0 20px 20px
    }
  }
}