.header {
  height: 100px;
  color: #000;
  line-height: 100px;
  background-color: skyblue;
}
.header__title,
.header__user {
  height: 100%;
  font-size: 0;
  line-height: 100px;
}
.header__title *,
.header__user * {
  display: inline-block;
  vertical-align: middle;
}
.header__title {
  float: left;
}
.header__title__text {
  font-size: 20px;
}
.header__title__logo {
  height: 80px;
  margin-right: 20px;
}
.header__user {
  float: right;
}
.header__user__welcome {
  font-size: 20px;
}
.header__user__avatar {
  height: 60px;
  margin-left: 20px;
}
