body:has(.login-box) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: auto;
  background-color: #f2f5f7;
  user-select: none;
}
@media screen and (max-width: 1399.98px) {
  .login-box {
    transform: scale(1);
  }
}
@media screen and (max-width: 1199.98px) {
  .login-box {
    transform: scale(0.8);
  }
}
@media screen and (max-width: 991.98px) {
  .login-box {
    transform: scale(0.7);
  }
}
@media screen and (max-width: 767.98px) {
  .login-box {
    transform: scale(0.6);
  }
}
.login-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
  width: 1000px;
  box-shadow: 10px 10px 10px #d1d1d1, -10px -10px 10px #e9e9e9;
}
.login-box__window {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 400px;
  height: 100%;
  background-color: #f2f5f7;
  position: relative;
  z-index: 999;
  transition: all cubic-bezier(0.52, 0.21, 0.2, 0.88) 1.25s;
}
.login-box__window__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  height: 100%;
  width: 400px;
  position: absolute;
  opacity: 0;
  z-index: -1;
  transition: all cubic-bezier(0.52, 0.21, 0.2, 0.88) 1.25s;
}
.login-box__window__content--display {
  opacity: 100;
  z-index: 999;
}
.login-box__window--r {
  box-shadow: -6px 0px 10px #d1d1d1;
  right: 0;
}
.login-box__window--l {
  box-shadow: 6px 0px 10px #d1d1d1;
  right: 600px;
}
.login-box__window__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
}
.login-box__window__container__title {
  font-size: 34px;
  font-weight: bold;
  letter-spacing: 4px;
  margin-bottom: 72px;
  font-size: 28px;
  letter-spacing: 1.1px;
  text-align: center;
}
.login-box__window__container__hint {
  color: gray;
  text-align: center;
}
.login-box__window__btn {
  width: 180px;
  height: 50px;
  border-radius: 25px;
  margin-top: 50px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1.2px;
  background-color: #4b70e2;
  color: #e9e9e9;
  box-shadow: 8px 8px 16px #d1d1d1, -8px -8px 16px #e9e9e9;
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: 20px;
}
.login-box__window__btn:hover {
  box-shadow: 6px 6px 10px #d1d1d1, -6px -6px 10px #e9e9e9;
  transform: scale(0.99);
  transition: 0.25s;
}
.login-box__container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 600px;
  height: 100%;
  background-color: #f2f5f7;
  border: none;
  position: absolute;
  transition: all cubic-bezier(0.52, 0.21, 0.2, 0.88) 1.25s;
}
.login-box__container__a {
  opacity: 100%;
  z-index: 100;
}
.login-box__container__a--r {
  opacity: 0;
  z-index: -1;
}
.login-box__container__b {
  opacity: 0;
  z-index: -1;
}
.login-box__container__b--r {
  opacity: 100%;
  z-index: 100;
}
.login-box__form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  width: 100%;
  height: 100%;
}
.login-box__form__main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  height: 220px;
}
.login-box__form__title {
  font-size: 34px;
  font-weight: bold;
  letter-spacing: 4px;
  margin-bottom: 72px;
}
.login-box__form__motto {
  margin-bottom: 30px;
  font-size: 16px;
  color: gray;
  font-family: "Zapfino";
}
.login-box__form__input {
  width: 350px;
  height: 50px;
  margin: 6px 0;
  padding-left: 24px;
  font-size: 18px;
  border: none;
  outline: none;
  transition: 0.25s ease;
  border-radius: 8px;
  background-color: #f2f5f7;
  box-shadow: inset 2px 2px 4px #d1d1d1, inset -2px -2px 4px #e9e9e9;
}
.login-box__form__link {
  font-size: 16px;
  margin-top: 24px;
  border-bottom: 1px solid #a0a5a8;
}
.login-box__form__btn {
  width: 180px;
  height: 50px;
  border-radius: 25px;
  margin-top: 50px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1.2px;
  background-color: #4b70e2;
  color: #e9e9e9;
  box-shadow: 8px 8px 16px #d1d1d1, -8px -8px 16px #e9e9e9;
  border: none;
  outline: none;
  cursor: pointer;
}
.login-box__form__btn:hover {
  box-shadow: 6px 6px 10px #d1d1d1, -6px -6px 10px #e9e9e9;
  transform: scale(0.99);
  transition: 0.25s;
}
.login-box__switch {
  position: relative;
  width: 600px;
  height: 100%;
  left: 0;
  transition: all cubic-bezier(0.52, 0.21, 0.2, 0.88) 1.25s;
}
.login-box__switch--r {
  left: 400px;
}
.login-page__process {
  color: #4b70e2 !important;
}
