.order-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 160px;
  padding: 10px;
  margin: 20px 0;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}
.order-item__left {
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.order-item__right {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  padding: 10px 0;
  font-size: 16px;
  margin-right: 16px;
  text-align: right;
}
.order-item__pic-container {
  height: 100%;
  aspect-ratio: 3 / 4;
  margin-right: 20px;
}
.order-item__pic {
  margin: 0 auto;
  height: 100%;
  width: 100%;
}
.order-item__info {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  max-width: 300px;
  padding: 20px 0;
}
.order-item__info__title {
  font-size: 20px;
}
.order-item__info__author {
  margin: 0;
  font-weight: normal;
}
.order-item__price__total {
  font-size: 24px;
  margin-bottom: 20px;
}
.order-item__price__unit {
  color: gray;
}
.order-item__qty {
  color: gray;
}
.order-page--loading > .MuiCircularProgress-root {
  display: block;
  margin: 25vh auto 0;
}
.order-card {
  width: 230px;
  height: 260px;
  margin: 30px 10px;
  background: url("../assets/background/paper.svg") no-repeat;
  background-position: center;
  background-size: contain;
}
.order-card__info {
  width: 146px;
  position: relative;
  left: 54px;
  top: 46px;
  font-size: 18px;
}
.order-card__number {
  font-size: 22px;
  width: 100%;
  text-align: center;
  margin-bottom: 14px;
}
.order-card__number > span {
  vertical-align: middle;
}
.order-card__time {
  margin-bottom: 10px;
}
.order-card__state {
  color: #219ebc;
}
.order-card-list {
  margin: 0 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.order-info__id {
  margin: 20px 0;
  font-size: 36px;
}
.order-info__date {
  font-size: 20px;
}
.order-info__date > span:first-child {
  color: gray;
}
