.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.container {
  width: 1080px;
  margin: 0 auto;
  text-align: center;
}

.pic-container {
  display: flex;
  justify-content: center;
  align-items: center;
}


.main-part {
  /* background-color: #EEEEEE; */
  min-height: 600px;
  width: 880px;
  float: left;
  overflow-x: scroll;
}

.side-bar {
  min-height: 600px;
  width: 200px;
  float: left;
}